:root {
  --primary-bg-color: lavender;
  /* --primary-text-color: navy; */
  /* --primary-text-color: darkblue; */
  --primary-text-color: darkslategrey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: var(--primary-text-color);
}

.hero-section {
  padding: 20px;
  background-color: var(--primary-bg-color);
  height: 50vh;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--primary-bg-color);
  padding: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
}

.menu-item {
  color: var(--primary-text-color);
  padding: 4px;
  cursor: pointer;
  border-radius: 30%;
  font-size: large;
  font-weight: 100;
}

.menu-item > a {
  all: unset;
}

.active {
  border: 1px solid var(--primary-text-color);
  font-weight: 600;
}

.hero-section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  height: 100%;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  height: 100vh;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.skill {
  list-style-type: none;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  border: 2px solid green; /* For guideline */
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid red; /* For guideline */
  max-width: 1000px;
}

.about-text {
  padding: 40px;
}

.about-text > p {
  text-align: left;
}
