*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-bottom: 5000px;
}

.hero-section {
  padding: 20px;
  background-color: darkseagreen;
  height: 50vh;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
}

.menu-item {
  color: white;
  padding: 4px;
}

.active {
  border: 1px solid white;
}

.hero-section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  margin-top: 20px;
  /* background-color: bisque; */
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.skill {
  list-style-type: none;
  background-color: cadetblue;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}